<template>
    <div>
        <FilterImages @onFilterImages="filterImages" />
        <Pagination :next-page="nextPage"
                    :prev-page="prevPage"
                    :prev-page-label="prevPageLabel"
                    :next-page-label="nextPageLabel"
                    :current-page="currentPage"
                    @onChangePage="changePage"
                    @onPerPageNumberShow="changeLimit" />
        <Gallery :images="images" />
    </div>
</template>

<script>
    import Gallery from "../components/Gallery";
    import FilterImages from "../components/FilterImages";
    import Pagination from "../components/Pagination";
    import _ from 'lodash';
    import {mapGetters} from 'vuex';

    export default {
        name: "Home",
        components: {Gallery, FilterImages, Pagination},
        mounted() {
            this.$store.dispatch(
                'images/fetchImages',
                {
                    limit: this.limit,
                    page: this.current_page
                }
            );
        },
        computed: {
            ...mapGetters({
                images: 'images/images',
                nextPage: 'images/getNextPage',
                prevPage: 'images/getPrevPage',
                prevPageLabel: 'images/getPrevPageLabel',
                nextPageLabel: 'images/getNextPageLabel',
                currentPage: 'images/getCurrentPage',
                selectedImage: 'images/selectedImage',
                limit: 'images/limit'
            })
        },
        methods: {
            changeLimit(limit) {
                this.$store.dispatch(
                    'images/fetchImages',
                    {
                        limit: limit,
                        page: this.currentPage
                    }
                );
            },
            async filterImages(search) {
                await this.$store.dispatch(
                    'images/fetchImages',
                    {
                        limit: this.limit,
                        page: this.currentPage
                    }
                );

                const filteredImages = _.filter(this.images, function (image) {
                    return image.author.startsWith(search)
                });

                this.$store.commit('images/SET_IMAGES', filteredImages);
            },
            changePage(page) {
                this.$store.dispatch(
                    'images/fetchImages',
                    {
                        limit: this.limit,
                        page: page
                    }
                );
            }
        }
    };
</script>

<style scoped>
</style>
