<template>
    <div class="card">
        <img v-bind:src="image.download_url" alt="" @click="showImageWithModal(image)">
        <div class="container">
            <div class="author">
                <div>{{image.author}}</div>
            </div>
            <div class="pill-badge-wrapper">
                <div class="pill-badge">#{{image.id}}</div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "Card",
        props: {
            image: {
                type: Object,
                default: () => {}
            }
        },
        methods:{
            showImageWithModal(image) {
                this.$emit('onShowImageModal', image)
            }
        }
    }
</script>

<style scoped lang="scss">
    .pill-badge-wrapper {
        flex: 1 1 0%;
        text-align: right;
    }

    .pill-badge {
        display: inline-block;;
        padding: 0.6rem 1rem;
        background: #f1f5f8;
        border-radius: 5rem;
        font-weight: bold;
    }

    .container {
        display: flex;
        padding: 1rem;
        justify-content: center;
        align-items: center;
    }

    .author {
        flex-grow: 1;
        font-size: 1.3rem;
        overflow: hidden;
        text-align: left;
    }

    .author > div {
        overflow: hidden;
        padding-right: 1rem;
        box-sizing: border-box;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        background-color: #FFF;
        border-radius: 0.25rem;
        margin: 0;
        list-style: none;
        cursor: pointer;
    }

    .card {
        max-height: 400px;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    img {
        border-radius: 0.25rem 0.25rem 0 0;
        width: 100%;
        height: auto;
    }
</style>
