<template>
    <div>
        <SearchField @input="debouncedQuery" />
    </div>
</template>

<script>
    import SearchField from "./SearchField";
    import _ from 'lodash';

    export default {
        name: "FilterImages",
        components: { SearchField },
        methods: {
            debouncedQuery: _.debounce(function (event) {
                this.$emit('onFilterImages', event.target.value);
            }, 1000)
        }
    };
</script>

<style scoped>
</style>
