<template>
    <div>
        <Modal v-if="showModal" @onCloseModal="showModal =! showModal">
            <template v-slot:header>
                {{selectedImage.author}}
            </template>
            <template v-slot:body>
                <div class="container">
                    <iframe v-bind:src="selectedImage.embeddedUrl" class="iframe" scrolling="no" allowfullscreen></iframe>
                </div>
                <a v-bind:href="selectedImage.url" class="link" target="_blank">Source link</a>
                <!--                <Card :image="selectedImage" />-->
            </template>
        </Modal>
        <div class="image-list-wrapper">
            <Card
                v-for="(image, key) in images"
                v-bind:key="key"
                :image="image"
                @onShowImageModal="showImage"
            />
        </div>
    </div>
</template>

<script>
    import Card from "./Card";
    import Modal from "./Modal";

    export default {
        name: "Gallery",
        components: {Card, Modal},
        props: {
            images: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                showModal: false,
                selectedImage: {}
            };
        },
        methods: {
            showImage(image) {
                this.showModal = !this.showModal;
                this.selectedImage = image;

                const path = image.url.substring(image.url.lastIndexOf('/'), image.url.length);
                this.selectedImage.embeddedUrl = 'https://source.unsplash.com' + path;
            }
        }
    }
</script>
<style scoped lang="scss">
    .container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
    }

    .iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
    .iframe img {
        width: 100% !important;
        height: auto !important;
    }

    .image-list-wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(150px, 367px));
        grid-auto-rows: minmax(100px, auto);
        column-gap: 30px;
        row-gap: 30px;
        justify-content: center;
    }
    .link {
        display: inline-block;
        padding: 5px 20px;
        margin-top: 20px;
        border:1px solid #CCC;
        border-radius: 10px;
        text-decoration: none;
        color: #000;
        transition: 0.2s;
    }

    .link:hover {
        background-color: rgba(150, 150, 150, 0.1);
        transition: 0.2s;
    }

    @media (max-width: 800px) {
        .image-list-wrapper {
            grid-template-columns: repeat(2, minmax(150px, 367px));
        }
    }

    @media (max-width: 400px) {
        .image-list-wrapper {
            grid-template-columns: repeat(1, minmax(150px, 367px));
        }
    }
</style>
