<template>
    <div>
        <transition name="modal">
            <div class="modal-mask" @click="$emit('onCloseModal')">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <div class="modal-header">
                            <slot name="header">
                            </slot>
                        </div>
                        <div class="modal-body">
                            <slot name="body"></slot>
                        </div>
                        <div class="modal-footer">
                            <slot name="footer">
                                <button class="modal-default-button" @click="$emit('onCloseModal')">
                                    Close
                                </button>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: "Modal",
        methods: {
            close() {
                this.$emit('onCloseModal')
            }
        }
    }
</script>

<style scoped>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transition: opacity 0.3s ease;
    }

    .modal-wrapper {
        margin-top: 200px;
    }

    .modal-container {
        max-width: 1000px;
        margin: 0px auto;
        max-height: 80vh;
        padding: 30px 30px 60px 30px;
        background-color: #FFF;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
        transition: all 0.3s ease;
    }

    .modal-header {
        font-size: 1.5rem;
        text-align: left;
    }

    .modal-body {
        margin: 20px 0;
        text-align: left;
    }

    button {
        display: inline-block;
        padding: 7px 25px;
        border-radius: 5px;
        background-color: transparent;
        margin: auto 5px;
        color: #555;
        border: 1px solid #CCC;
        position: relative;
        cursor: pointer;
        transition: 0.2s;
        text-transform: capitalize;
    }

    button:hover {
        background-color: rgba(150,150,150, 0.15);
        transition: 0.2s;
    }

    .modal-default-button {
        float: right;
    }

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

</style>
