<template>
    <nav class="bg-light-grey">
        <a href="/html/">404 page</a> |
        <a href="https://www.linkedin.com/in/areg-matulyan-262949168/" target="_blank">but here is my Linkdin</a>
    </nav>
</template>

<script>
    export default {
        name: "NavBar"
    };
</script>

<style scoped>
</style>
