<template>
    <div class="pagination-wrapper">
        <div class="pagination">
            <PerPageNumber @onPerPageNumber="onPerPageNumberShow" />
            <!-- TODO: Add per page number -->
            <span>Current page: <span class="is-active current-page-number">{{currentPage}}</span></span>

            <button
                    type="button"
                    v-if="prevPageLabel"
                    @click="paginate"
                    :value="prevPage"
            >
                {{prevPageLabel}}
            </button>

            <button
                    @click="paginate"
                    :value="nextPage"
                    v-if="nextPageLabel"
            >
                {{nextPageLabel}}
            </button>
        </div>
    </div>
</template>

<script>
    import PerPageNumber from "./PerPageNumber";

    export default {
        name: "Pagination",
        components: {PerPageNumber},
        props: {
            per_page: {},
            currentPage: {},
            nextPage: {},
            prevPage: {},
            prevPageLabel: {},
            nextPageLabel: {},
        },
        methods: {
            paginate(event) {
                this.$emit('onChangePage', event.target.value);
            },
            onPerPageNumberShow(number) {
                this.$emit('onPerPageNumberShow', number);
            }
        }
    }
</script>

<style scoped lang="scss">
    .pagination-wrapper {
        max-width: 1100px;
        margin: 0 auto;
        padding-top: 30px;
        margin-bottom: 20px;
    }
    .pagination {
        display: flex;
        margin: 0;
        justify-content: flex-end;
        align-items: center;
    }

    button {
        display: inline-block;
        padding: 7px 25px;
        border-radius: 5px;
        background-color: transparent;
        margin: auto 5px;
        color: #555;
        border: 1px solid #CCC;
        position: relative;
        cursor: pointer;
        transition: 0.2s;
        text-transform: capitalize;
    }

    button:hover {
        background-color: rgba(150,150,150, 0.15);
        transition: 0.2s;
    }

    button:disabled {
        background-color: rgba(46, 204, 113, 0.69);
        border: 3px solid rgba(46, 204, 113, 0.69);
        cursor: not-allowed;
    }

    .current-page-number {
    }

    .is-active {
        font-weight: bold;
    }
</style>
