<template>
  <div class="perpage-wrapper">
      <label for="perpage">Show per page </label>

      <select name="per_page_number" id="perpage" class="perpage" @change="onChangePerPage">
          <!-- todo dynamicly generate per page numbers-->
          <option :selected="selected_option === val" :value="val" v-for="(val, key) in getPageLimits()" :key="key">{{val}}</option>
      </select>
  </div>
</template>

<script>
    export default {
        name: "PerPageNumber",
        computed: {
            selected_option: function () {
                return this.$store.getters['images/limit'];
            }
        },
        methods: {
            onChangePerPage(event){
                this.$emit('onPerPageNumber', event.target.value );
                this.$mount();
            },
            getPageLimits() {
                const limit = process.env.VUE_APP_GRID_IMAGES_DEFAULT_LIMIT;
                const chunks = 10;
                let result = [];

                for (let i = 1; i <= chunks; i++) {
                    result.push((limit / chunks) * i);
                }

                return result;
            }
        }
    }
</script>

<style scoped>
    .perpage-wrapper {
        margin-right: 50px;
    }

    .perpage {
        background: transparent;
        padding: 3px 25px;
        border: 1px solid #CCC;
        border-radius: 5px;
    }
</style>
