<template>
    <div class="search-wrapper">
        <div class="search-group">
            <input id="search" type="text" class="search" v-on="$listeners">
            <label for="search" class="search-placeholder">Type to search by name</label>
        </div>
    </div>

</template>

<script>
    export default {
        name: "SearchField"
    }
</script>

<style scoped>

    .search-wrapper {
        margin: 40px auto;
        max-width: 500px;
    }
    .search-group {
        position: relative;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: left;
    }

    .search{
        position: absolute;
        border: 1px solid #CCC;
        padding: 15px 20px;
        line-height: 20px;
        box-sizing: border-box;
        border-radius: 2rem;
        background: transparent;
        font-size: 1.2rem;
        outline: none;
        width: 100%;
        top: 0;
        left: 0;
    }

    .search-placeholder {
        position: relative;
        background: #f1f5f8;
        padding: 5px;
        top: 18px;
        left: 1.3rem;
        z-index: 111;
        cursor: text;
        color: #555;
        transition: top 0.2s;
    }

    .search:focus {
        border-color: #59b37f;
    }

    .search:focus + .search-placeholder {
        top: -10px;
        font-size: 0.9rem;
        color: #999;
        transition: top 0.2s;
    }


/*    .search {*/
/*        position: relative;*/
/*        margin: 40px auto;*/
/*        max-width: 500px;*/
/*        !*margin: 0 auto;*!*/
/*        box-sizing: border-box;*/
/*        background: #FFF;*/
/*        border-radius: 15px;*/
/*    }*/
/*    .search > label {*/
/*        position: relative;*/
/*        display: inline-block;*/
/*        cursor: text;*/
/*    }*/
/*    .search > input {*/
/*        width: 100%;*/
/*        line-height: 20px;*/
/*        border: none;*/
/*        padding: 15px 20px;*/
/*        box-sizing: border-box;*/
/*        z-index: 10;*/
/*        background: transparent;*/
/*        position: absolute;*/
/*    }*/
/*    .search > input:focus {*/
/*        outline: none;*/
/*    }*/
/*    .search > input:focus + .search > label {*/
/*        background: #2ecc71;*/
/*    }*/
</style>
