<template>
    <div id="app">
        <router-view />
    </div>
</template>

<script>
    import './assets/css/normalize.css';
    import './assets/css/main.css';

    export default {
        name: 'App',
    }
</script>
<!--todo move this style app into global style css as it aims to be applied to all font stuff in app-->
<style lang="scss">

    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
